/* #ifndef APP-NVUE */
/* 设置全局样式 */
/* (1) 页面高度100%,默认字体28upx,默认行高1.4,背景颜色 */
page{
	/* height: 100%; */
	font-size: 28rpx;
	line-height: 1.4;
	background: #FFFFFF;
}

button{border: 0;padding: 0;margin: 0;}
button:after{border: 0;}
.placeholder{color: #999; font-size: 26rpx;}

/* (2) 图片默认100%宽度 */
image{  width: 100%;height: 100%;box-sizing: border-box; display: block;}
::-webkit-scrollbar{
	display: none;
}
uni-button:after{border: 0;}

/* 无数据 */
.nodata{width: 360rpx;height: 360rpx;margin:100rpx auto;}
.nodata image{width: 100%;height: 100%;}

/* 右侧固定按钮 */
.R-fixIcon{width: 90rpx;height: 90rpx;position: fixed;bottom:40%;right:20rpx;z-index:30;}
.R-fixIcon image{width: 100%;height: 100%;}

/* 购物车按钮显示数量 */
.carNum{position: absolute;left: 75%;top: -12rpx;z-index: 2;height: 30rpx;line-height: 30rpx;min-width: 30rpx;border-radius: 20rpx;box-sizing: border-box;font-size: 22rpx; color:#fff;padding: 0 6rpx;background-color: #ed0000; text-align: center;}

/* #endif */
/* 主色调 */
/* 主背景颜色（橙色）*/
.main-bg-color{ background-color: #7a8eff; }
/* 主点击背景颜色（淡橙色）*/
.main-bg-hover-color{ background-color: rgba(253,104,1,0.85); }
/* 主字体颜色（橙色）*/
.main-text-color{color: #7a8eff;}
/* 主边框颜色 */
.main-border-color{ border-color: #F1F1F1; }

.input-border-color{
	border-color: #7a8eff;
}


.f5Bj-H10{height: 10rpx; background: #f5f5f5;}
.f5Bj-H20{ height: 20rpx; background: #f5f5f5;}
.f5bj{background: #f5f5f5;}
.whiteBj{background: #fff;}

.price{ color: #e01313;}
.price::before{content: "￥";font-size: 24rpx;}
.priceIcon{width: 28rpx;height: 28rpx;margin-right: 8rpx;}
.priceF{ color: #e01313;}
.priceF::before{content: "积分:";font-size: 24rpx;}
.priceM::after{content: "/㎡";}
.yuanJia{ color: #999; font-size: 24rpx; text-decoration: line-through; }
.yuanJia::before{content: "￥";}


/* 提交按钮 */
.submitbtn .btn{width: 80%; height: 80rpx; line-height: 80rpx; text-align: center; color: #fff;background-color: #7a8eff;  border-radius:10rpx; font-size:30rpx; margin: 0rpx auto; display:block;position: relative;}
.submitbtn .btn .btnBj{width: 100%;height: 100%;position: absolute;left: 0;top: 0;right: 0;bottom: 0;z-index: 1;}
.submitbtn .btn .btnTit{position: relative; z-index: 2;}
.submitbtn button:after{border: 0;}
.submitbtn .Wbtn{width: 100%; height: 80rpx; line-height: 80rpx; text-align: center; color: #fff;background-color: #7a8eff;  border-radius: 10rpx; font-size:30rpx; margin: 0rpx auto; display:block;}

/* 页面铺满背景图 */
.pageBj{width: 100%;height: 100%;position: fixed;left: 0;top: 0;right: 0;bottom:0rpx;z-index: 0;}
.pageBox{position: relative; z-index: 1;padding-top: 72px;}
.page-head{font-size: 16px;height:72px;text-align: center;position: fixed;left: 0;top: 0;right: 0;z-index: 10;padding-top: 20px;padding-bottom: 7px;}
.page-head .headBj{position: absolute;left: 0;top: 0;right: 0;bottom: 0;z-index: 1;}
.page-head .tit{position: relative;z-index: 2;}

/* 顶部返回箭头按钮 */
.backBtn{width:18rpx;height: 31rpx;position: absolute;top: 70rpx;left: 30rpx; z-index: 5;}

/* 会员标签 */
.VipPrice{padding-right:10rpx;height: 40rpx;line-height: 40rpx;min-width:56rpx;background-color: #f3ddbd;color: #d9a353;position: relative; margin-left: 24rpx;text-align: center;}
.VipPrice .arrow{width:22rpx;height:100%;position: absolute;top: 0;left:-20rpx;}


